<body class="bg-white bg-img-non privacy-font"> 
 <%= render 'layouts/common/header' %>
 <div class="p-md-5 pt-4 container">
      <div class="text-center">
        <p class="font-weight-bold h4">Duke Leads - FZCO Cookie Policy</p>
      </div>
      <div>
        <p>
          This website uses cookies.
        </p>
        <p>
          A cookie is a small text file that is downloaded to your computer that gives you a more personalised experience when using our website. They are not harmful and are not used to identify you personally.
        </p>
        <p>
          For example, a cookie can record certain information about a visitor to a website to tailor theiroptions for when they next visit.
        </p>
        <p>
          By continuing to use this website we at Duke Leads - FZCO will assume that you are happy with our cookie policy and that we can place cookies on your computer device.
        </p>
        <p>
          Most internet browsers will allow you to turn off cookies if you wish, you should refer to the Help guide of your browser to learn how to do this. But please remember that disabling or blocking cookies may impact your ability to use websites and the services that they offer.
        </p>
        <p>
          Some tools you may find useful for working with cookies:
        </p>
        <ul class="overflow-hidden">
          <li>
            Google Analytics Opt-out Browser Add-on - <a href="">https://tools.google.com/dlpage/gaoptout</a>
          </li>
          <li>
            Your Online Choices - <a href="">http://www.youronlinechoices.com/uk/</a>
          </li>
        </ul>
        <p>
          To learn more about cookies visit
        </p>
        <ul>
          <li>
            All about Cookies - <a href="">http://www.allaboutcookies.org/</a>
          </li>
        </ul>
      </div>
      <div class="bg-light">
        <p class="font-weight-bold h4">Cookies we use</p>   
      </div>
      <div>
        <h5><u>Necessary Cookies</u></h5>
        <p>
          These help to make a website usable by enabling basic functions like page navigation and access to secure areas of the website. The website cannot function properly without these cookies:
        </p>
         <table class="table table-bordered table-responsive border-dark table-sm">
        <thead class="thead-light">
          <tr>
            <th>Cookie Name:</th>
            <th>Provider</th>
            <th>Purpose</th>
            <th>Type</th> 
            <th>Expiry</th> 
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              __cfduid  
            </td>
            <td>
              .FinanceinUK.com 
            </td>
            <td>
              The cookie is used by cdn services like CloudFare to identify individual clients behind a shared IP address and apply security settings on a per-client basis. It does not correspond to any user ID in the web application and does not store any personally identifiable information.
            </td>
            <td>
              HTTP
            </td>
            <td>
              29 days 23 hours 59 minutes
            </td>
          </tr>
          <tr>
            <td>
              __cfduid  
            </td>
            <td>
              .fontawesome.com
            </td>
            <td>
              The cookie is used by cdn services like CloudFare to identify individual clients behind a shared IP address and apply security settings on a per-client basis. It does not correspond to any user ID in the web application and does not store any personally identifiable information.
            </td>
            <td>
              HTTP
            </td>
            <td>
              29 days 23 hours 59 minutes
            </td>
          </tr>
          <tr>
            <td>
              __cfduid  
            </td>
            <td>
              .phonexa.uk
            </td>
            <td>
              The cookie is used by cdn services like CloudFare to identify individual clients behind a shared IP address and apply security settings on a per-client basis. It does not correspond to any user ID in the web application and does not store any personally identifiable information.
            </td>
            <td>
              HTTP
            </td>
            <td>
              29 days 23 hours 59 minutes
            </td>
          </tr>
          <tr>
            <td>
              __cfduid  
            </td>
            <td>
              .ka-f.fontawesome.com
            </td>
            <td>
              The cookie is used by cdn services like CloudFare to identify individual clients behind a shared IP address and apply security settings on a per-client basis. It does not correspond to any user ID in the web application and does not store any personally identifiable information.
            </td>
            <td>
              HTTP
            </td>
            <td>
              29 days 23 hours 59 minutes
            </td>
          </tr>
          <tr>
            <td>
              __cfduid  
            </td>
            <td>
              .ipapi.co
            </td>
            <td>
              The cookie is used by cdn services like CloudFare to identify individual clients behind a shared IP address and apply security settings on a per-client basis. It does not correspond to any user ID in the web application and does not store any personally identifiable information.
            </td>
            <td>
              HTTP
            </td>
            <td>
              29 days 23 hours 59 minutes
            </td>
          </tr>
          <tr>
            <td>
              __cfruid  
            </td>
            <td>
              .phonexa.uk
            </td>
            <td>
              Used by the content network, Cloudflare, to identify trusted web traffic
            </td>
            <td>
              HTTP
            </td>
            <td>
              session
            </td>
          </tr>
        </tbody>
      </table>
      <h5><u>Statistics Cookies</u></h5>
        <p>
         These help a website owner to understand how visitors interact with their website by collecting and reporting information anonymously:
        </p>
         <table class="table table-bordered table-responsive border-dark table-sm">
            <thead class="thead-light">
              <tr>
                <th>Cookie Name:</th>
                <th>Provider</th>
                <th>Purpose</th>
                <th>Type</th> 
                <th>Expiry</th> 
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  _ga
                </td>
                <td>
                  FinanceinUK.com 
                </td>
                <td>
                  This cookie is installed by Google Analytics. The cookie is used to calculate visitor, session, campaign data and keep track of site usage for the site''s analytics report. The cookies store information anonymously and assign a randomly generated number to identify unique visitors.
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  1 years 11 months 28 days 23 hours 59 minutes
                </td>
              </tr>
              <tr>
                <td>
                  _gcl_au
                </td>
                <td>
                  FinanceinUK.com 
                </td>
                <td>
                  This cookie is used by Google Analytics to understand user interaction with the website.
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  2 months 28 days 23 hours 59 minutes
                </td>
              </tr>
              <tr>
                <td>
                  _gid
                </td>
                <td>
                  FinanceinUK.com 
                </td>
                <td>
                  This cookie is installed by Google Analytics. The cookie is used to store information of how visitors use a website and helps in creating an analytics report of how the wbsite is doing. The data collected including the number visitors, the source where they have come from, and the pages viisted in an anonymous form.
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  23 hours 59 minutes
                </td>
              </tr>
              <tr>
                <td>
                  _uetsid
                </td>
                <td>
                  FinanceinUK.com 
                </td>
                <td>
                  This cookies are used to collect analytical information about how visitors use the website. This information is used to compile report and improve site.
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  23 hours 59 minutes
                </td>
              </tr>
              <tr>
                <td>
                  _hjIncludedInPageviewSample
                </td>
                <td>
                  FinanceinUK.com 
                </td>
                <td>
                  It uniquely identifies a visitor during a single browser session and indicates they are included in an audience sample.
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  1 minute
                </td>
              </tr>
              <tr>
                <td>
                  _hjAbsoluteSessionInProgress
                </td>
                <td>
                  FinanceinUK.com 
                </td>
                <td>
                  This cookie is used to detect the first pageview session of a user. This is a True/False flag set by the cookie
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  29 minutes
                </td>
              </tr>
              <tr>
                <td>
                  _fund_my_load_session
                </td>
                <td>
                  FinanceinUK.com 
                </td>
                <td>
                  File in a temporary directory on the browser to register session variables.
                </td>
                <td>
                  pixel
                </td>
                <td>
                  session
                </td>
              </tr>
              <tr>
                <td>
                  _hjid
                </td>
                <td>
                  FinanceinUK.com 
                </td>
                <td>
                  This cookie is set by Hotjar. This cookie is set when the customer first lands on a page with the Hotjar script. It is used to persist the random user ID, unique to that site on the browser. This ensures that behavior in subsequent visits to the same site will be attributed to the same user ID.
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  11 months 29 days 23 hours 59 minutes
                </td>
              </tr>
              <tr>
                <td>
                  _hjFirstSeen
                </td>
                <td>
                  FinanceinUK.com 
                </td>
                <td>
                  This cookie is used to detect the first pageview session of a user. This is a True/False flag set by the cookie
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  29 minutes
                </td>
              </tr>
              <tr>
                <td>
                  _gat_UA-163029273-1
                </td>
                <td>
                  FinanceinUK.com 
                </td>
                <td>
                  Used to send data to Google Analytics about the user statistics.
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  
                </td>
              </tr>
              <tr>
                <td>
                  _msuuid_55417an066410
                </td>
                <td>
                  FinanceinUK.com 
                </td>
                <td>
                  Register a unique User ID by marin software application has generated to identify the visitors.
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  11 months 29 days 23 hours 59 minutes
                </td>
              </tr>
            </tbody>
      </table>
      <h5><u>Marketing Cookies</u></h5>
        <p>
          These are used to track visitors to a website with the intention or displaying advertisements that are relevant to the user, these may include cookies set and collected by our third-party advertisers or providers:
        </p>
         <table class="table table-bordered table-responsive border-dark table-sm">
            <thead class="thead-light">
              <tr>
                <th>Cookie Name:</th>
                <th>Provider</th>
                <th>Purpose</th>
                <th>Type</th> 
                <th>Expiry</th> 
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  MUID
                </td>
                <td>
                  .bing.com  
                </td>
                <td>
                  Used by Microsoft as a unique identifier. The cookie is set by embedded Microsoft scripts. The purpose of this cookie is to synchronize the ID across many different Microsoft domains to enable user tracking.
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  1 years 23 days 23 hours 59 minutes
                </td>
              </tr>
              <tr>
                <td>
                  _fbp
                </td>
                <td>
                  FinanceinUK.com 
                </td>
                <td>
                  This cookie is set by Facebook to deliver advertisement when they are on Facebook or a digital platform powered by Facebook advertising after visiting this website.
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  2 months 28 days 23 hours 59 minutes
                </td>
              </tr>
              <tr>
                <td>
                  _uetvid
                </td>
                <td>
                  FinanceinUK.com 
                </td>
                <td>
                  _uetvid. This is a cookie utilised by Microsoft Bing Ads and is a tracking cookie.
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  16 days 5 hours 59 minutes
                </td>
              </tr>
              <tr>
                <td>
                  fr
                </td>
                <td>
                  .facebook.com  
                </td>
                <td>
                  The cookie is set by Facebook to show relevant advertisments to the users and measure and improve the advertisements. The cookie also tracks the behavior of the user across the web on sites that have Facebook pixel or Facebook social plugin.
                </td>
                <td>
                  HTTP
                </td>
                <td>
                  2 months 28 days 23 hours 59 minutes
                </td>
              </tr>
            </tbody>
      </table>
      </div>  
    </div>
    <%= render 'layouts/common/footer' %>
</body>
