<div class="toptext">
   <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 px-1"> 
        Warning: Late repayment can cause you serious money problems. We are an authorised credit broker and not a lender. For help, go to <a href="https://www.moneyadviceservice.org.uk" class="text-white" rel="nofollow"><u>moneyadviceservice.org.uk</u></a>
        <p class="m-0 toptext p-0">We may receive a commission from the lender</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row align-items-center">
    <a class="text-center" href="/">
      <%=image_tag("#{asset_path("logo.png")}", class:"logo-img py-2", data: {turbolinks: "false"})%>
    </a>
  </div>
</div>
